{{!-- <nav>
    <a href="/homeroutes">Home</a>
    <button class="no-button" id="post">logout</button>
</nav> --}}
{{> nav}}

<h2>This is where you can comment on posts!!</h2>


    
{{#each blogPost}}
<div class="forms-container">
      <form class="blogpost-form post-form-${{id}}" action="post">
        <input type="hidden" name="id" id="post-id" value="{{id}}">
        <label for="title" id="title">Title: {{title}}</label><br>
        <hr>
        <label for="content" id="content">{{content}}</label>
        <h3>Created on {{date_created}} by {{user.name}}</h3>
        <hr>
        <button  type="submit" id="post" name="{{id}}"><a href="/dashboard/viewpost/{{id}}">View Post</a></button>
    </form>
</div>

            {{#each comments as | comment | }}
            <div class="comment">
                <p> comment:{{comment.content}} </p>
                <hr>
            </div>
            <!-- Render other comment properties as needed -->
            {{/each}}
    {{!-- </div> --}}
</div>
{{/each}}


<!-- Uncomment the following code if needed -->
<script src="./js/blog.js"></script>


