<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="css/{{style}}">
<nav>
 <a href="/homeroutes">Home</a>
    <button class="no-button" id="post">logout</button>
    </nav>
    
<body>
    <h2> This is where you can comment on post!!</h2>
    {{#each  blogPost}}
     <div class="forms-container">
        <div class="blogpost-form">
            <link rel="stylesheet" href="css/{{style}}">
            <form action="/api/dashboard/makeBlog" method="post">
                <label for="title">{{title}}  </label>
                  <br><hr>
                <label for="content">{{content}}</label>
                  <h3>Created on {{date_created}} by {{user.name}}</h3>
                <hr>
                <button type="submit" id="Comment">comment</button>
                
               
            </form>
        </div>
    
</div>
{{/each}}
<script src="./js/blog.js"></script>
</body>