<nav>
    <a href="/homeroutes">Home</a>
    <button class="no-button" id="post">logout</button>
</nav>


<h2>This is where you can comment on posts!!</h2>


{{#each blogPost}}
<div class="forms-container">
    {{!-- <div class="blogpost-form"> --}}
        <form class="blogpost-form">
            {{!-- <form action="/api/dashRoutes/post/:id" method="post"> --}}
                <input type="hidden" name="id" id="post-id" value="{{id}}">
                <label for="title" id="title">Title: {{title}}</label><br>
                <hr>
                <label for="content" id="content">{{content}}</label>
                <h3>Created on {{date_created}} by {{user.name}}</h3>
                <hr>
                {{!-- <input type="text" id="comment-input" name="content" required><br><br> --}}
                <button type="submit" id="post" data-postid="{{id}}" id="Comment">view post</button>
            </form>

            {{!-- {{#each comments as | comment | }}
            <div class="comment">
                <p> comment:{{comment.content}} </p>
                <hr>
            </div>
            <!-- Render other comment properties as needed -->
            {{/each}}
    {{!-- </div> --}}
</div>
{{/each}} --}}


<!-- Uncomment the following code if needed -->


<script src="./js/blog.js"></script>