



    

<h2>This is where you can comment on posts!!</h2>


{{!-- {{#each blogPost}} --}}
<div class="forms-container">
    {{!-- <div class="blogpost-form"> --}}
        <form class="blogpost-form">
            {{!-- <form action="/dashboard/viewpost/:id/comment" method="post"> --}}
                <input type="hidden" name="id" id="post-id" value="{{id}}">
                <label for="title" id="title">Title: {{title}}</label><br>
                <hr>
                <label for="content" id="content">{{content}}</label>
                <h3>Created on {{createdat}} by {{by}}</h3>
                <hr>
                <input type="text" id="comment-input" name="content" required><br><br>
                <button type="submit" id="post" data-postid="{{id}}" id="Comment">Make comment</button>
                </form>
                </div>
            </div>
           <script src="/public/js/comment.js"></script>
      {{!-- {{/each}} --}}
     
 




